* {
    padding: 0px;
    margin: 0px;
}

body {
    height: 100vh;
    /*    100% of the viewport height*/
    padding: 15px;
}

/*the location of the file is relative to the CSS file, not where index.html is*/

.bg {
    background-image: url("../imgs/no.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.text {
    font-size: 3em;
    padding: 20px;
    color: white;
    font-family: arial;
}
