body{
	background-color: #4169E1;
}

.fix-container{
	padding-left: 0px !important;
	padding-right: 0px !important;
}



.container{
	height: 100vh;
	background-color: aqua;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

}

.bg {
    background-image: url("../assets/gradientbkg.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}


.inner{
	padding:50px;
	font-size: 2em;
	color: white;
	font-family: 'Space Mono', monospace;
}

.title{
	color: white;
	font-family: 'Space Mono', monospace;

}

.video {
  position: center;
}
